/* Calendar 페이지 스타일 */
.calendar__bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.375rem;
}

.calendar__con {
  height: 53.125rem;
  display: flex;
  align-items: center;
  gap: 3.75rem;
}

.calendar__side,
.calendar__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar__main {
  position: relative;
}

.calendar__add_btn {
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-color: var(--sub-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px 9px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  bottom: 0.6875rem;
  right: 0.6875rem;
  transition: all 0.3s;
}

.calendar__add_btn:hover {
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

/* CalendarHead 컴포넌트 스타일 */
.calendar__head_con {
  width: 92.8125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.calendar__head_left {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 2.25rem;
}

.calendar__head_left img {
  width: 2.6875rem;
  height: 2.6875rem;
  cursor: pointer;
}

.calendar__head_right {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
}

.calendar__head_today {
  width: 8.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--main-color);
  font-size: 1.375rem;
  cursor: pointer;
}

.calendar__head_today:hover {
  background-color: #e8ebee;
}

.calendar__head_format {
  width: 174px;
  height: 3.125rem;
  border-radius: 4px;
  font-size: 24px;
  border: 1px solid var(--sub-color);
  text-align: center;
  cursor: pointer;
  /* select 태그 화살표 모양 변경을 위한 속성 */
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  background: url(../../assets/image/arrow-down.png) no-repeat 100% 50%/50px auto;
  padding-right: 30px;
}

select::-ms-expand {
  display: none; /*for IE10,11*/
}

/* AddPlanModal 컴포넌트 스타일 */
.add_plan_modal_con {
  /* 모달창 스타일 */
  position: absolute;
  bottom: 6.875rem;
  right: 2.1875rem;
  width: 18.75rem;
  height: 12.5rem;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  z-index: 100;

  /* 모달창 내부 컨텐츠 스타일 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  gap: 0.3125rem;

  transition: all 0.3s;
}

.add_plan_modal_con div {
  width: 100%;
  padding: 0.9375rem;
  text-align: center;
}

.add_plan_modal_con div:hover {
  background-color: var(--main-color);
}

.add_plan_modal_con > a {
  width: 100%;
}
