/* MonthlyCalendar 컴포넌트 스타일 */
.monthly__con {
  width: 92.8125rem;
  height: 50rem;
  border: 1px solid var(--sub-color);
}

/* MonthlyDays 컴포넌트 스타일 */
.monthly__days {
  height: 2.8125rem;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--sub-color);
  font-size: 1.5625rem;
  color: var(--font-color-gray);
  font-weight: 400;
}

.monthly__days_cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monthly__days_cell:not(:last-child) {
  border-right: 1px solid var(--sub-color);
}

/* MonthlyBody 컴포넌트 스타일 */
.monthly__body {
  height: calc(100% - 2.8125rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.monthly__body_row {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.monthly__body_row:not(:last-child) {
  border-bottom: 1px solid var(--sub-color);
}

.monthly__body_cell {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.monthly__body_cell:not(:last-child) {
  border-right: 1px solid var(--sub-color);
}

.monthly__body_cell_number {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3125rem 0 0 0.375rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
  transition: all 0.2s;
}

.monthly__body_cell_number:hover {
  cursor: pointer;
  background-color: #e3eaf1;
  transition: all 0.2s;
}

/* MonthlyPlanCard 컴포넌트 스타일 */
.monthly__plan_card {
  width: 100%;
  border-radius: 4px;
  font-size: 1.125rem;
  padding: 0.1875rem;
  background-color: aquamarine;
}
