.header__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4.375rem;
  background-color: #eff1f3;
  z-index: 1000;
  display: flex;
}

.input {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
