
.diaryListPage__bg {
  width: 100vw;
  height: 100vh;
  padding-top: 4.375rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.diaryData {
  flex: 2;
  width: 1000px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 70px;
}

.diaryGallery {
  flex: 1;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 70px;
}
.diaryListPage__line{
  margin-top: 50px;
  width: 1px;
  height: 90%;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.diaryListPage__add_btn {
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-color: var(--sub-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px 9px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  bottom: 0.6875rem;
  right: 0.6875rem;
  transition: all 0.3s;
}

.diaryListPage__add_btn:hover {
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}